@tailwind base;
@tailwind components;
@tailwind utilities;

.moveAnimate svg{
    position: relative;
    animation: move 1s ;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}

@keyframes move{
    0%{
        left: -5%;
    }
    50%{
        left:5%;
    }
    100%{
        left:-5%;
    }   
}

@keyframes movedown{
    0%{
        top: -10%;
    }
    50%{
        top:10%;
    }
    100%{
        top:-10%;
    }   
}

@media (max-width: 600px){
    .moveAnimate svg{
        animation: none;
    }

    .moveAnimate2 svg{
        position: relative;
        animation: movedown 1s ;
        animation-delay: 0.1s;
        animation-iteration-count: infinite;
    }
}