@import "tailwindcss";

body{
    background-color: #4d4c4c;
    color: #b0acac;
}

.arrow-down-box::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 箭頭高度的一半往下 */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background-color: transparent;

    /* 裁切出一個向下的箭頭形狀 */
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    @apply bg-stone-600
}

.subMenu{
    @apply w-1/2 min-w-[30vw] mb-5 text-center h-[50px] bg-stone-600/80 rounded-sm mx-auto flex flex-col justify-center  relative;
    @apply max-[600px]:w-[150px] max-[600px]:h-[10vh] max-[600px]:px-1
}


/*主頁背景樣式*/
.MainBackGround,.MainBackGround-release {
    position: relative;
    z-index: 0;
    /* 確保內容正常呈現 */
    background-color:#4d4c4c;
}

.MainBackGround::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 99.8vh;
    background-image: url('/image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* 調整這裡的數值讓圖片變淡 */
    z-index: -1; /* 放在內容後面 */

    
    -webkit-mask-image: linear-gradient(to bottom, rgb(43, 43, 43) 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 85%, transparent 100%);
}

.MainBackGround-release::before{
    background-image: url('/TestNextApi/image/background.jpg');

    content: "";
    position: absolute;
    width: 100%;
    height: 99.8vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* 調整這裡的數值讓圖片變淡 */
    z-index: -1; /* 放在內容後面 */

    
    -webkit-mask-image: linear-gradient(to bottom, rgb(43, 43, 43) 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 85%, transparent 100%);
}

/*任一副頁樣式*/
.SubBackGround,.SubBackGround-release {
    position: relative;
    z-index: 0;
    /* 確保內容正常呈現 */
    background-color: #4d4c4c;
}

.SubBackGround::before {
    content: "";
    position: absolute;
    height: 99.8vh;
    width: 100%;
    background-image: url('/image/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* 調整這裡的數值讓圖片變淡 */
    z-index: -1; /* 放在內容後面 */

    -webkit-mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 90%, transparent 100%);
}

.SubBackGround-release::before{
    background-image: url('/TestNextApi/image/background2.jpg');

    content: "";
    position: absolute;
    height: 99.8vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* 調整這裡的數值讓圖片變淡 */
    z-index: -1; /* 放在內容後面 */

    -webkit-mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgb(46, 46, 46) 90%, transparent 100%);
}

/*過往紀錄UI*/
.PastPreview {
    @apply flex flex-row flex-wrap max-[400px]:flex-nowrap;

    @apply min-w-[100px] max-w-[300px] max-[800px]:max-w-[260px];
    @apply max-[800px]:w-4/5 max-[400px]:w-[95%];

    @apply max-h-[120px] bg-slate-700 rounded-md p-2 m-2;
}