@import "tailwindcss";

body{
    background-color: #313030;
    color: #b0acac;
}

.arrow-down-box::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 箭頭高度的一半往下 */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background-color: transparent;

    /* 裁切出一個向下的箭頭形狀 */
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    @apply bg-stone-600
}

.subMenu{
    @apply w-1/2 min-w-[30vw] mb-5 text-center h-[50px] bg-stone-600 rounded-sm mx-auto flex flex-col justify-center  relative;
    @apply max-[600px]:w-[150px] max-[600px]:h-[10vh] max-[600px]:px-1
}


.MainBackGround {
    position: relative;
    z-index: 0;
    /* 確保內容正常呈現 */
}

.MainBackGround::before {
    content: "";
    position: absolute;
    inset: 0; /* 等於 top/right/bottom/left: 0 */
    background-image: url('/image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; /* 調整這裡的數值讓圖片變淡 */
    z-index: -1; /* 放在內容後面 */
}
