@tailwind base;
@tailwind components;
@tailwind utilities;


span{
    text-align: center;
    color: rgb(176, 172, 172);
}
/*腳色按鈕*/
.charIcon{
    margin-left: 15px;
    margin-right: 15px;
    min-width: 100px;
    min-height: 100px;
}
.charIcon img{
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    cursor: pointer;
}
.charmenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
   
}
.charmenu::-webkit-scrollbar {
    display: none;
  }

/*如果報錯*/
.alert span{
    color: rgb(176, 172, 172);
}
/*技能*/
.skill{
    margin-top: 10px;
}
.skill img{
    width: 50px;
    height: 50px;
}
.skill_level_border{
    width: 25px;
    background-color: rgb(64, 62, 62,0.8);
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 12px;
    bottom: 15px;
}

/*勾選*/
input[type=checkbox]{
    transform: scale(1.3);
    margin-right: 5px;
    top: 1.5px;
    position: relative;
}

/*角色列表*/
.charBox{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.char{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.char_names{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.charBox span{
    text-align: center;
    font-size: 20px;
    color: white;
}

.charTotal{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('https://wiki.hoyolab.com/_nuxt/img/bg.52598ca.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 20px;
    
}
.elementImg{
    width: 18px;
    height: 18px;
    margin-top: 5px;
}

.portrait{
    width: 200px;
}
/*腳色屬性*/
.charStats{
    margin-top: 20px;
    width: 200px;
}
.charStats span{
    color: white;
    font-weight: 400;
}
img.Statsicon{
    width: 25px;
    height: 25px;
    display: inline;
    margin-bottom: 5px;
}

/*光椎資訊*/
.lightcone{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.lightcone span{
    margin-top: 10px;
    text-align: center;
    color: white;
}

.lightcone .portrait{
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
   
}

/*光椎稀有度字串以及其顏色*/
.lightcone .name{
    font-weight: bold;
}
.lightcone .name.legendary{
    color: orange;
}
.lightcone .name.epic{
    color: rgb(114, 28, 139);
}
.lightcone .name.rare{
    color: rgb(24, 110, 185);
}

/*遺器*/

.relics{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;/*之後再找某種方式*/
    /*overflow-X: scroll;*/
    
}
/*隱藏scrollbar*/
.relics::-webkit-scrollbar {
    display: none;
  }
  
.relic{
    text-align: center;
}
.relic_stat{
    width: 33%;
    min-width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.relic img{
    width:100px;
    height: 100px;
}
.relics .subaffix{
    display: flex;
    flex-direction: column;
}

/*
.relics .subaffix span{
    text-align: center;
    color: rgb(176, 172, 172);
}*/
.relics .subaffix span.main{
    color: rgb(139, 5, 5);
    font-weight: bold;
}

.relic_level{
    display: block;
    width: 40px;
    background-color: rgb(64, 62, 62,0.8);
    border-radius: 5px;
    text-align: center;
    position: relative;
    left: 60px;
    top: -100px;
}
.relic_images{
    background:linear-gradient(180deg,#333643,#cba368);
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.relic_images.legendary{
    background:linear-gradient(180deg,#73433f,#cba368);
    border-radius: 5px;
}

.relic_images.epic{
    background:linear-gradient(180deg,#4e237e,#715895);
    border-radius: 5px;
}
.relic_images.rare{
    background:linear-gradient(180deg,#303254,#808188  );
    border-radius: 5px;
}
.relic_images.ordinary{
    background:linear-gradient(180deg,#303b52,#387b79 );
    border-radius: 5px;
}

.relic_score{
    min-width: 100px;
}

